/* for smaller screens (iphone & android which smallest=320px works)**/
@media only screen and (max-width: 700px){
    h1.montserrat {
        font-size: 16px;
    }
    img#logo {
        width: 6.2rem;
        height: 4rem;
        margin-top: 1.2rem;
    }
    p {
        font-size: 11px;
    }
    #first-card-border {
        display: none;
    }

}
@media only screen and (min-width: 1000px) {
  h1.montserrat {
    font-size: 32px;
  }
  img#logo {
    width: 10rem;
    height: 6rem;
  }
  p {
    font-size: 22px;
  }
  h3.montserrat {
    font-size: 50px;
  }
}

body { background: rgba(0, 20, 20, 1.2);}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    text-wrap: wrap;
    flex-basis: 100%;
    /*background-color: rgba(53, 35, 35, 0.38);*/
    background-color: rgba(255, 255, 255, 1);
    height: 2000px;
}
#first-card {
    background-color: rgb(255, 255, 255);
    height: 7rem;
    flex-basis: 100%;
    display: inline-flex;
    justify-content: space-around;
    gap: 10px;
    border: solid 10px rgba(0, 0, 0, 0.758);
    border-bottom-width: 0px; 
}
#first-card-border {
    width: 100%;
    height: 45px;
    /*background-color: rgb(206, 60, 12);*/
    background: linear-gradient(320deg, rgb(233, 204, 204), rgb(206, 60, 12));
    margin-left: 9.5px;
    margin-right: 9.5px;
    border-radius: 5px;
    border-bottom: grey solid 12px;;
    border-left:rgba(0, 0, 0, 0.7752) solid 15px;
    border-right: rgba(0, 0, 0, 0.7852) solid 3px;
}
#second-card {
    background-color: rgba(255, 255, 255, 1);
    height: 22rem;
    flex-basis: 100%;
}
#logo {
    width: 23%;
    height: 100%;
    margin-left: 10px;
    border-radius: 55%;
    opacity: 62%;
}
.montserrat {
    display: inline-flex;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-size: auto;
    font-style: oblique;
    color: rgba(20, 10, 100, 10);
    padding-top: 5px;
  }
  .courier-new {
    font-family: 'Courier New', Courier, monospace;
    background:color-mix(in hwb increasing hue, rgb(102, 18, 18) 60%, rgb(228, 157, 25) 50%);
    color: rgb(248, 236, 106);
    text-align: center;
  }
  .trebuchet {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 0px;
    font-weight: 900;
    font-style: italic;
    text-decoration: wavy;
    
  }
  .centered-text {
    text-align: center;
  }
  p.link-size, a.link-size {
    padding-left: 10px;
    width: 300px;
    display: inline-flex;
    justify-content: space-around;
    overflow-wrap: break-word;
    text-align: center;
    gap: 30px;
  }
  .verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 23, 23);
  }

.large-top-padding { padding-top: 95px;}
.top-padding { padding-top: 8px;}
.left-padding { padding-left: 10%; color: rgb(32, 140, 207);}

footer {
  display: flex;
  justify-content: center;
  color: white;
  
}

h1.montserrat {
  padding-top: 13px;
}

.button-box-header {
  border-top: solid 10px rgba(133, 132, 132, .15);
  border-bottom: solid 5px rgba(0, 0, 0, 1)
}
.button-box {
  display: inline-flex;
  justify-content: center;
  background: rgba(38, 190, 228, 0.5);
  border: 2px dashed  rgba(27, 159, 230, 0.47);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: wavy;
  color: rgb(92, 89, 89);
  width: 50%;
}
.button-box:hover {
  background-color: rgba(86, 81, 81, 0.5);
  color: rgb(232, 230, 230);
  border: none;
  width: 49%;
  height: 45%;
}
.shpe {
  color: navy;
  font-size: 48px;
  text-shadow: #000000;
  font-stretch: extra-expanded;
  font-style: italic;
  border-bottom:rgb(32, 140, 207) solid;
  padding-bottom: 50px;
  padding-top: 5px;
  letter-spacing: 50px
}
.side-border {
  border-left:rgb(32, 140, 207) dashed 3px;
  border-right:rgb(32, 140, 207) dashed 3px;
  border-top:rgb(32, 140, 207) dashed 2px;
}
.bottom-and-top-pad {
  padding-bottom: 20px;
  padding-top: 20px;
}
.italic {
  font-style: italic;
}
#google-doc {
  display: inline-flex;
  justify-content: center;
  
  border: 2px solid  rgba(0, 0, 0, 0.47);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: wavy;
  color: rgb(0, 0, 0);
  width: 50%;
  background-color:rgb(202, 17, 0);
}
#google-doc:hover {
  background-color: rgb(48, 44, 44);
  color: rgb(255, 255, 255);
  border: none;
  width: 49%;
  height: 45%;
}
#sharknet {
  display: inline-flex;
  justify-content: center;
  
  border: 2px dashed  rgba(229, 228, 228, 0.969);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: wavy;
  color: rgb(92, 89, 89);
  width: 20%;
  margin-bottom: 10px;
}
#sharknet:hover {
  background-color: rgb(38, 7, 238);
  color: rgb(252, 150, 15);
  border: none;
  width: 23%;
  height: 45%;
}
#whatsapp {
  display: inline-flex;
  justify-content: center;
  
  border: 2px dashed  rgba(229, 228, 228, 0.969);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: wavy;
  color: rgb(92, 89, 89);
  width: 20%;
  margin-bottom: 10px;
}
#whatsapp:hover {
  background-color: rgb(103, 249, 132);
  color: rgb(255, 255, 255);
  border: none;
  width: 23%;
  height: 45%;
}
#discord {
  display: inline-flex;
  justify-content: center;
  
  border: 2px dashed  rgba(229, 228, 228, 0.969);
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: wavy;
  color: rgb(92, 89, 89);
  width: 20%;
  margin-bottom: 10px;
}
#discord:hover {
  background-color: rgb(123, 107, 225);
  color: rgb(0, 0, 0);
  border: none;
  width: 23%;
  height: 45%;
}
.text-direction-col {
  display: flex;
  flex-direction: column;
}